    html{
        background: linear-gradient(to bottom, #000, #111, #222);
    }

    body{
        min-height: 100vh;
        overflow:hidden ;
        margin:0;
        
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding-top: clamp(60px, 20vw, 200px);
        min-height: 100vh;
        background-attachment: fixed;

        color: white;
        text-align: center;
        padding-bottom: 40px;
    }
    h1{
        margin: 0;
        font-size: clamp(36px, 4vw, 120px);
        color: gold;
    }
    h2{
        margin: 0;
        margin-top: 10px;
        font-size: clamp(24px, 1.5vw, 60px);
    }
    ul{
        list-style: none; 
        padding: 0;
        margin-top: 40px;
        max-width: 600px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .return{
        margin-top: 20px;
        max-width: 200px;
    }

    li{
        transition: all 0.05s ease;
    }

    li:hover{
        transform: translateY(-2px);
        background-color: #333;
    }

    li{
        line-height: clamp(20px, 2.5vw, 40px);
        background-color: #222;
        margin: 15px;
        font-size: clamp(16px, 2vw, 35px);
        padding: 5px;
        border-radius: 8px;
    }
    .return2{
        background-color: #222;
        margin: 10px;
        margin-top: 60px;
        font-size: clamp(10px, 1.5vw, 30px);
        padding: 5px;
        border-radius: 8px;
    }
    a{
        color: rgb(255, 255, 255);
        text-decoration: none;
        display: block;
    }
    p{
        margin: 0;
        margin-top: 80px;
        font-size: clamp(20px, 1.5vw, 60px);
    }